*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial Bold;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 100px;
}
.nav-links{
    flex: 1;
    text-align: center;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    margin: 20px;
    margin-top: -15px;
    margin-top: 75px;
    

}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;

}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.line::after{
    content: ' ';
    width: 0%;
    height: 2px;
    background: #ffffff;
    display: block;
    margin: left;
    transition: 0.3s;
}
.line:hover::after{
    width: 100%;
}
.contact::after{
  content: ' ';
  width: 0%;
  height: 2px;
  background: #ffffff;
  display: block;
  margin: left;
  transition: 0.3s;
}
.contact::after{
  width: 100%;
}

.background-clip{
    filter: blur(4px);
  -webkit-filter: blur(4px);
}

.logo{
    position: absolute;
  top: 8px;
  left: 16px;
  margin-left: 40px;
  margin-top: 5px;
}



/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 30px;
  width: 30px;
  margin: 0 2px;
  background-color: #bbb;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.slideshow-container{
  margin-top: 250px;
}



.dot:hover .dot, .selected .dot {
  border: 2px solid rgb(255, 255, 255);
}


