*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial Bold;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}


.background-clip{
    filter: blur(4px);
    -webkit-filter: blur(4px);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    
}

@media (min-aspect-ratio:16/9) {
    .background-clip{
            width: 100%;
            height: auto;
    }
}

@media (max-aspect-ratio:16/9) {
    .background-clip{
        width: auto;
        height: 100%;
    }
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 100px;
}
.nav-links{
    flex: 1;
    text-align: center;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    margin: 20px;
    margin-top: -15px;
    margin-top: 75px;
    

}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;

}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.line::after{
  content: ' ';
  width: 0%;
  height: 2px;
  background: #ffffff;
  display: block;
  margin: left;
  transition: 0.3s;
}
.line:hover::after{
  width: 100%;
}
.Ezbw::after{
content: ' ';
width: 0%;
height: 2px;
background: #ffffff;
display: block;
margin: left;
transition: 0.3s;
}
.Ezbw::after{
width: 100%;
}
.logo{
    position: absolute;
  top: 8px;
  left: 16px;
  margin-left: 40px;
  margin-top: 5px;
}


.social-menu ul li {
  filter: drop-shadow(3px 3px 3px #ffffff);
}
.social-menu ul {
  filter: invert(100%);
	position: absolute;
	top: 90%;
	left: 50%;
	padding: 0;
	margin: 0;
	transform: translate(-50%, -50%);
	display: flex;
	z-index: 3;
  }
  .social-menu ul li {
	list-style: none;
	margin: 0 15px;
  }
  .social-menu ul li .fa {
	font-size: 30px;
	line-height: 60px;
	transition: .3s;
  }
  .social-menu ul li .fa:hover {
	color: #242424;
  }
  .social-menu ul li a {
    margin-bottom: -30px;
	position: relative;
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	text-align: center;
	transition: .1.5s;
  }
  .social-menu ul li a:hover {
    filter: invert(90%);
  }